@use "../abstracts" as *;

:root {
  --text-light: white;
  --text-dark: #5c5c5c;
  --bg-dark: #181818;
  --bg-light: white;
  --black: #000000;
  --bg-btn1: #4452fe;
  --bg-btn2: white;
  --stone-cold: #565656;
  --suzu-grey: #9fa2a5;
  --pinball: #d3d3d3;
  --linear-eerie-black: #11ee1e;
  --silver-medal: #d8d8d8;
}
