@use "../abstracts" as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

img {
  display: block;
}

a,
:any-link {
  display: block;
  width: 100%;
  height: fit-content;
  text-decoration: none;
  color: var(--text-light);
  font-weight: bold;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

main {
  width: 100%;
  min-height: 100vh;
  margin-top: rem(67);

  @include breakpoints(xxl) {
    margin-top: rem(95);
  }
}
